/* ---------------------------------------
				Reset
------------------------------------------ */
/* line 5, login.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block;
}

/* ---------------------------------------
				Style de base
------------------------------------------ */
/* line 11, login.scss */
body {
  background-color: #202021;
  font-family: Arial, Tahoma, "Trebuchet MS", Helvetica, FreeSans, sans-serif;
  font-size: 1em;
  -webkit-font-smoothing: antialiased;
  -moz-font-smoothing: antialiased;
  font-smoothing: antialiased;
  margin: 0;
  padding: 0;
}

@font-face {
  font-family: 'riesling';
  src: url("fonts/riesling/riesling.eot");
  src: url("fonts/riesling/riesling.eot?#iefix") format("embedded-opentype"), url("fonts/riesling/riesling.woff") format("woff"), url("fonts/riesling/riesling.ttf") format("truetype"), url("fonts/riesling/riesling.svg#RieslingRegular") format("svg");
  font-weight: normal;
  font-style: normal;
}

/* ---------------------------------------
			Paragraphe
------------------------------------------ */
/* line 26, login.scss */
p {
  padding: 0;
  margin: 0;
}

/* ---------------------------------------
			Liens
------------------------------------------ */
/* line 32, login.scss */
a {
  text-decoration: none;
  outline: none;
}

/* line 33, login.scss */
a:focus, a:active {
  outline: none;
}

/* line 34, login.scss */
a img {
  border: none;
}

/* ---------------------------------------
			Types en ligne
------------------------------------------ */
/* line 40, login.scss */
span.couleur_bleu {
  color: #2681D0;
}

/* ---------------------------------------
			Frameworks
------------------------------------------ */
/* line 46, login.scss */
.arrondi, input[type=text], input[type=password], input[type=submit] {
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  -ms-border-radius: 8px;
  -o-border-radius: 8px;
  border-radius: 8px;
}

/* line 47, login.scss */
.animer, section#form_connexion h1 a {
  -webkit-transition: all, 0.75s;
  -moz-transition: all, 0.75s;
  -ms-transition: all, 0.75s;
  -o-transition: all, 0.75s;
  transition: all, 0.75s;
}

/* ---------------------------------------
			Wrapper
------------------------------------------ */
/* line 53, login.scss */
#wrapper {
  width: 100%;
  margin: 80px auto 0;
}

/* line 55, login.scss */
#pancarte {
  background: url("images/login/fait-par-kryzalead.png") 0 0 no-repeat;
  width: 252px;
  height: 195px;
  margin: 220px 0 0 20px;
  cursor: pointer;
  display: inline-block;
  vertical-align: top;
}

/* line 56, login.scss */
#pancarte:hover {
  background: url("images/login/fait-par-kryzalead-hover.png") 0 0 no-repeat;
}

/* line 58, login.scss */
section#form_connexion {
  margin: 0 auto;
  color: #999;
  display: inline-block;
  vertical-align: top;
  width: 65%;
}

/* line 59, login.scss */
section#form_connexion h1 {
  text-align: center;
  padding-bottom: 60px;
  margin: 0;
}

/* line 60, login.scss */
section#form_connexion h1 a {
  font: normal 4em 'riesling';
  color: #679A01;
  cursor: default;
}

/* line 61, login.scss */
section#form_connexion h1 a:hover, section#form_connexion h1 a:focus {
  text-decoration: none;
  color: #AA4673;
  text-shadow: 0px 0px 15px #ffffff;
  filter: dropshadow(color=white, offx=0, offy=0);
}

/* line 62, login.scss */
section#form_connexion p {
  text-align: center;
  font: normal 0.95em Arial;
}

/* line 63, login.scss */
section#form_connexion a {
  font-weight: bold;
  color: #2681D0;
  text-decoration: none;
}

/* line 64, login.scss */
section#form_connexion a:hover {
  font-weight: bold;
  color: #679A01;
  text-decoration: underline;
}

/* line 66, login.scss */
#login {
  width: 358px;
  height: 203px;
  display: block;
  margin: 60px auto 0;
  background: url("images/login/gmap.jpg") top left repeat;
}

/* line 67, login.scss */
#login label {
  color: #8C8C8C;
  font-size: 0.9em;
  display: inline-block;
  padding: 0 5px 0px 5px;
  position: relative;
}

/* line 69, login.scss */
form#loginform {
  width: 302px;
  height: 124px;
  padding: 61px 28px 18px 28px;
  background: url("images/login/bloc.png") top left no-repeat;
  z-index: 5;
  position: absolute;
}

/* line 71, login.scss */
#logmask {
  background: url("images/login/rmap.jpg") 0 0 repeat;
  position: absolute;
  top: auto;
  left: auto;
  width: 358px;
  height: 203px;
  overflow: hidden;
  z-index: 3;
}

/* line 72, login.scss */
.alert-message {
  font-size: 0.95em;
  color: #E85E35;
  text-align: center;
  margin-top: -6px;
}

/* line 74, login.scss */
label {
  width: 100px;
  margin-top: 20px;
}

/* line 75, login.scss */
input[type=text], input[type=password] {
  background-color: #2681D0;
  width: 150px;
  font-weight: bold;
  text-align: center;
  height: 18px;
  border: none;
  color: #FFF;
}

/* line 76, login.scss */
input[type=text]:hover, input[type=password]:hover {
  border: 1px solid #BAE2FF;
  background: #E5A14E;
  background-position: left bottom;
  color: #000;
}

/* line 77, login.scss */
input[type=submit] {
  margin: 15px 0 0 200px;
  background-color: #222;
  width: 95px;
  height: 25px;
  color: #BBB;
  opacity: 0.8;
  text-transform: uppercase;
  cursor: pointer;
  font-size: 0.7em;
  border: 1px solid #212121;
}

/* line 78, login.scss */
input[type=submit]:hover {
  color: #2681D0;
  background-color: #333;
  border: 1px solid #202121;
}

/* ---------------------------------------
			IE8~7 fix compatibilite
------------------------------------------ */
/* line 85, login.scss */
div.alert-ie {
  width: 100%;
  height: 80px;
  margin-bottom: 20px;
  background-color: #111;
  border-bottom: 1px solid #555;
}

/* line 86, login.scss */
div.alert-ie p {
  padding: 20px;
  font-size: 1em;
  color: #FFF;
  text-align: center;
}

/* line 87, login.scss */
div.alert-ie strong {
  color: #FF4040;
}

/* line 88, login.scss */
div.alert-ie a {
  color: #09F;
}

/* line 89, login.scss */
div.alert-ie a:hover {
  color: #690;
  text-decoration: underline;
}
