@import "compass/css3";
/* ---------------------------------------- */
/*	Nom : Administration		*/
/*	Date : 22-02-2012  		*/
/*        Auteurs: Kryzalead                 	 */
/* 	Entreprise : www.kryzalead.fr  	*/
/* 	Edition: style.scss		*/
/*	Version: 1.0			*/
/* -------------------------------------- */

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	font-style: inherit;
	font-size: 100%;
	font-family: inherit;
	vertical-align: baseline;}

/* RESET HTML5 */
article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section {display:block;}

/* Général */
html,
body {
	margin: 0;
	padding: 0;
	-webkit-font-smoothing:antialiased;
	-moz-font-smoothing:antialiased;
	font-smoothing:antialiased;}

body {
	font-family: sans-serif;
	font-size: 0.75em;
	line-height: 1.4em;
	min-width: 600px;
	background-color: white;}

ol, ul {list-style: none; padding:0;}

/* Style défini */
:focus {outline: 0;}
* {padding:0; margin:0;}


/* Tableau */
table {
	border-collapse: separate;
	border-spacing: 0;
	text-align: left;}

caption, th, td {text-align: left;}

blockquote:before, blockquote:after, q:before, q:after {content: "";}
blockquote, q {quotes: "" "";}


/* ---------------------------------------
				Liens
------------------------------------------ */
a, p a {
	text-decoration:underline;
	color:#0A93CC;
	outline: 0;}

a:hover {color:#E07126;}
a:focus, a:active {outline: 0;}
a img {border:none}


/* ---------------------------------------
				Titres Hx
------------------------------------------ */
h1, h2, h3 {
	font-family: Arial, Helvetica, sans-serif;
	font-weight: normal;
	position: relative;}


/* ---------------------------------------
			Paragraphe
------------------------------------------ */
p {margin-bottom: 7px;}


/* ---------------------------------------
			@Font-face
------------------------------------------ */
@font-face {
	font-family: 'ftusj';
		src: url('fonts/ftusj/fff_tusj.eot');
		src: url('fonts/ftusj/fff_tusj.eot?#iefix') format('embedded-opentype'),
			url('fonts/ftusj/fff_tusj.woff') format('woff'),
			url('fonts/ftusj/fff_tusj.ttf') format('truetype'),
			url('fonts/ftusj/fff_tusj-wfont.svg#FFFTusjBold') format('svg');
				font-weight: normal; font-style: normal;}

@font-face {
	font-family: 'phoenix';
		src: url('fonts/phoenix/phoenixscriptflf.eot');
		src: url('fonts/phoenix/phoenixscriptflf.eot?#iefix') format('embedded-opentype'),
			url('fonts/phoenix/phoenixscriptflf.woff') format('woff'),
			url('fonts/phoenix/phoenixscriptflf.ttf') format('truetype'),
			url('fonts/phoenix/phoenixscriptflf.svg#PhoenixScriptFLFRegular') format('svg');
				font-weight: normal; font-style: normal;}

@font-face {
	font-family: 'riesling';
		src: url('fonts/riesling/riesling.eot');
		src: url('fonts/riesling/riesling.eot?#iefix') format('embedded-opentype'),
			url('fonts/riesling/riesling.woff') format('woff'),
			url('fonts/riesling/riesling.ttf') format('truetype'),
			url('fonts/riesling/riesling.svg#RieslingRegular') format('svg');
				font-weight: normal;font-style: normal;}


.cb, .clear{clear: both; width: 100%;}
.souligner {text-decoration: underline;}
.relative{position: relative;}


/* ---------------------------------------
			Frameworks
------------------------------------------ */
.checkerBoxOmbre{@include box-shadow(#444,0px,2px,10px);}
.checkerBoxOmbre{@include box-shadow(#D2D2D2,0px,0px,10px);}
.contentRadiusHaut{@include border-radius (9px 9px 0px 0px,9px 9px 0px 0px)};
.aideRadiusBas{@include border-radius (0px 0px 9px 9px,0px 0px 9px 9px)};
.aideRadiusBasBouton{@include border-radius (0px 0px 3px 3px, 0px 0px 3px 3px)};

/* -- Default -- */
$default-box-shadow-h-offset:0px;
$default-box-shadow-v-offset:5px;
$default-box-shadow-blur:10px;

$default-text-shadow-h-offset:0px;
$default-text-shadow-v-offset:1px;
$default-text-shadow-blur:4px;

/* --  Mixin -- */
$vide:"";
$ombreClair:#888;
$ombreFoncee:#111;
$none:none;

@mixin ombreTextNoir{
	@include text-shadow(rgba(black, 0.2) 1px 1px 0, rgba(black, 0.2) 2px 2px 0, rgba(black, 0.2) 3px 3px 0);}

@mixin ombreTextBlanc{
	@include text-shadow(rgba(black, 0.2) 1px 1px 0, rgba(black, 0.2) 2px 2px 0, rgba(black, 0.2) 3px 3px 0);}	

@mixin radius{
	@include border-radius(5px);}

@mixin ombreRadiusAide($ombreClair){
	$default-box-shadow-color:$ombreClair;
		@include box-shadow;
		@include border-radius(0px 0px 9px 9px, 0px 0px 9px 9px);}

@mixin ombreRadius($ombreFoncee){
		@include box-shadow;
		@include border-radius(11px);}

@mixin ombreSiderbar{
		@include box-shadow;
		@include text-shadow;}

@mixin none($none){
	@include box-shadow;
	@include text-shadow;}


/* - Content .bloc .dark - */
.contentTextShadowDark	{@include text-shadow(#000,0px,1px,0px);}

/* -- Style Basic Frameworks -- */
.textShadowWhite	{@include text-shadow(#FFF,0px,1px,0px);}


/* ------------------------------------------------------
			Settings 
--------------------------------------------------------- */
.settings{
	background:url(images/setting_button/config_button/bg.gif);
	border-bottom:5px solid #383838;
	/*+box-shadow:inset 0px 0px 10px #000;*/
	-moz-box-shadow:inset 0px 0px 10px #000;
	-webkit-box-shadow:inset 0px 0px 10px #000;
	-o-box-shadow:inset 0px 0px 10px #000;
	box-shadow:inset 0px 0px 10px #000;
	color:#CACACA;
	position:fixed;
	top:40px;
	right:0;
	bottom:0;
	z-index:9999;
	width:150px;
	border-left:5px solid #D9D9D9;}

.settings .wrapper{
	background:none;
	/*+box-shadow:none;*/
	-moz-box-shadow:none;
	-webkit-box-shadow:none;
	-o-box-shadow:none;
	box-shadow:none;
	padding:20px 0;}

.settings .wrapper .titre{
	font-size:1.2em;
	color:#BDBDBD;
	/*+text-shadow:0px 1px #000;*/
	margin-bottom:12px;
	padding:0;
	@include ombreTextNoir;}

.settings a{
	background:#616161;
	width:25px;
	height:25px;
	display:block;
	float:left;
	/*+border-radius:3px;*/
	-moz-border-radius:3px;
	-webkit-border-radius:3px;
	-khtml-border-radius:3px;
	border-radius:3px 3px 3px 3px;
	/*+box-shadow:inset 0px 0px 5px #000;*/
	-moz-box-shadow:inset 0px 0px 5px #000;
	-webkit-box-shadow:inset 0px 0px 5px #000;
	-o-box-shadow:inset 0px 0px 5px #000;
	box-shadow:inset 0px 0px 5px #000;
	margin:10px;}

.settings a.active{
	margin:7px;
	border:3px solid #FFF;}

.settings .settingbutton{
	position:absolute;
	display:block;
	border:0;
	top:17px;
	left:-45px;
	height:45px;
	width:45px;
	/*+border-radius:5px 0 0 5px;*/
	-moz-border-radius:5px 0 0 5px;
	-webkit-border-radius:5px 0 0 5px;
	-khtml-border-radius:5px 0 0 5px;
	border-radius:5px 0 0 5px;
	/*+box-shadow:0px 0px 3px #000;*/
	-moz-box-shadow:0 0 3px #000;
	-webkit-box-shadow:0 0 3px #000;
	-o-box-shadow:0 0 3px #000;
	box-shadow:0 0 3px #000;
	background:#8E2525 url(images/setting_button/config_button/icon.png) no-repeat center center;
	margin:0;}

.settings .left, .settings .right{width:49%;}
.settings .left{float:left;}
.settings .right{float:right;}
.settings .grid3{width:150px;margin:0 10px 15px;}


/* ------------------------------------------------------
			Head - Barre horizontale toute en haut 
--------------------------------------------------------- */
#head{
	height: 40px;
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	line-height: 40px;
	border: 1px solid #000;
	color: #AEAEAE;
	z-index: 9999;
	background-image: linear-gradient(bottom, rgb(49,49,49) 13%, rgb(67,67,67) 57%, rgb(85,85,85) 85%);
	background-image: -o-linear-gradient(bottom, rgb(49,49,49) 13%, rgb(67,67,67) 57%, rgb(85,85,85) 85%);
	background-image: -moz-linear-gradient(bottom, rgb(49,49,49) 13%, rgb(67,67,67) 57%, rgb(85,85,85) 85%);
	background-image: -webkit-linear-gradient(bottom, rgb(49,49,49) 13%, rgb(67,67,67) 57%, rgb(85,85,85) 85%);
	background-image: -ms-linear-gradient(bottom, rgb(49,49,49) 13%, rgb(67,67,67) 57%, rgb(85,85,85) 85%);
	background-image: -webkit-gradient(linear,left bottom,left top,color-stop(0.13, rgb(49,49,49)),color-stop(0.57, rgb(67,67,67)),color-stop(0.85, rgb(85,85,85)));
	@extend .boxOmbre;}

#head a{
	color: #FFF;
	text-decoration: none;}

#head a:hover{
	text-decoration: underline;
	color:#E07126;}

#head .gravatar{
	border: 1px solid #222;
	display: block;
	float: left;
	width: 25px;
	height: 25px;
	margin: 6px 7px 0 20px;
	line-height: 32px;
	text-align: center;
	@include ombreRadius($ombreFoncee);}


/* ---------------------------------------
				Bandeau Aide
------------------------------------------ */
.hidden,
.js .closed .inside, .js .hide-if-js,
.no-js .hide-if-no-js {display: none;}

#aide {
	margin-top:40px;
	position: relative;}

#ecran_options_wrap, #aide_wrap {
	margin: 0;
	padding: 8px 20px 12px;
	position: relative;
	overflow: auto;}

#screen-meta .screen-reader-text {visibility: hidden;}
#screen-meta-links {margin: 0 24px 0 0;}

/* screen options and help tabs revert */
#screen-meta {
	display: block; /* display: none; */
	position: relative;
	margin: 0 15px 0 5px;
	border-width: 0 1px 1px;
	border-style: none solid solid;}

#bouton_options_ecran, #contextual-help-link-wrap {
	float: right;
	height: 22px;
	padding: 0;
	margin: 0 0 0 6px;
	font-family: sans-serif;}

#bouton_options_ecran, #contextual-help-link-wrap {@extend .aideRadiusBasBouton;}

#screen-meta-links a.show-settings {
	text-decoration: none;
	z-index: 1;
	padding: 0 16px 0 6px;
	height: 22px;
	line-height: 22px;
	font-size: 12px;
	display: block;
	text-shadow: rgba(255,255,255,0.7) 0 1px 0;}

#screen-meta-links a.show-settings:hover {text-decoration: none;}
/* end screen options and help tabs */

.toggle-arrow {
	background-repeat: no-repeat;
	background-position: top left;
	background-color: transparent;
	height: 22px;
	line-height: 22px;
	display: block;}

.toggle-arrow-active {background-position: bottom left;}

#ecran_options_wrap h5, #aide_wrap h5 {
	margin: 8px 0;
	font-size: 13px;}

.metabox label {
	display: inline-block;
	padding-right: 15px;
	white-space: nowrap;
	line-height: 30px;}

.metabox label input {margin: 0 5px 0 2px;}

.metabox label a {display: none;}

/* -- aide text -- */
#aide_wrap {
	padding: 0;
	margin-left: -4px;
	@extend .aideRadiusBas;}

#aide_colonnes {position: relative;}

#aide_back {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 150px;
	right: 170px;
	border-width: 0 1px;
	border-style: solid;}

#aide_wrap.no-sidebar #aide_back {
	right: 0;
	border-right-width: 0;
	-webkit-border-bottom-right-radius: 2px;
	border-bottom-right-radius: 2px;}

.colonne_menu {
	float: left;
	width: 150px;
	margin: 0;}

.colonne_menu ul {margin: 1em 0;}

.colonne_menu li {
	margin-bottom: 0;
	list-style-type: none;
	border-style: solid;
	border-width: 1px 0;
	border-color: transparent;}

.colonne_menu a {
	display: block;
	padding: 5px 5px 5px 12px;
	line-height: 18px;
	text-decoration: none;}

.colonne_menu .active {
	padding: 0;
	margin: 0 -1px 0 0;
	border-width: 1px 0 1px 1px;
	border-style: solid;}

.colonne_texte_wrap {
	padding: 0 20px;
	overflow: auto;}

.help-tab-content {
	display: none;
	margin: 0 22px 12px 0;
	line-height: 1.6em;}

.help-tab-content.active {display: block;}

.help-tab-content li {
	list-style-type: disc;
	margin-left: 18px;}

.aide_image {
	width: 150px;
	float: right;
	padding: 10px 0px 0 0px;
	overflow: none;}

/* -- couleur menu aide -- */
#screen-meta {
	background-color: #f1f1f1;
	border-color: #ccc;
	@include ombreRadiusAide($ombreClair);}

#aide_back {background: #fff;}
.colonne_menu a:hover {color: #333;}
#aide_back, .colonne_menu .active {border-color: #ccc;}
.colonne_menu .active, .colonne_menu .active a, .colonne_menu .active a:hover {background: #fff;color: #000;}

/* screen options and help tabs */
#bouton_options_ecran,
#contextual-help-link-wrap {
	background-color: #e3e3e3;
	border: 1px solid transparent;
	background-image: linear-gradient(bottom, rgb(85,85,85) 13%, rgb(67,67,67) 57%, rgb(49,49,49) 88%);
	background-image: -o-linear-gradient(bottom, rgb(85,85,85) 13%, rgb(67,67,67) 57%, rgb(49,49,49) 88%);
	background-image: -moz-linear-gradient(bottom, rgb(85,85,85) 13%, rgb(67,67,67) 57%, rgb(49,49,49) 88%);
	background-image: -webkit-linear-gradient(bottom, rgb(85,85,85) 13%, rgb(67,67,67) 57%, rgb(49,49,49) 88%);
	background-image: -ms-linear-gradient(bottom, rgb(85,85,85) 13%, rgb(67,67,67) 57%, rgb(49,49,49) 88%);
	background-image: -webkit-gradient(linear,left bottom,left top,color-stop(0.13, rgb(85,85,85)),color-stop(0.57, rgb(67,67,67)),color-stop(0.88, rgb(49,49,49)));}

#contextual-help-link-wrap{width:45px;}
#option_ecran_wrap{width:140px;}

#screen-meta-links a.show-settings {color: #FFF; @include none($none);}
#screen-meta-links a.show-settings:hover {color: #09F;}
#screen-meta-links a.show-settings {background: transparent url(images/arrow_aide.png) no-repeat 100% 4px;}
#screen-meta-links a.show-settings.screen-meta-active {background: transparent url(images/arrow_aide.png) no-repeat 96% 5px;}


/* ---------------------------------------
			Sidebar
------------------------------------------ */
#sidebar{
	position: fixed;
	z-index: 3;
	top: 42px;
	left: 0;
	bottom: 0;
	width: 240px;
	background-color: #494949;
	border-right: 1px solid #1B1B1B;
	@include ombreSiderbar;}

#sidebar>ul>li>a{
	height: 40px;
	line-height: 40px;
	text-indent: 30px;
	display: block;
	text-decoration: none;
	font-weight: bold;
	font-size: 1.1em;
	color: #AAA;
	background: #494949 url(images/arrow.png) no-repeat 96% -5px;
	border-top: 1px solid #555;
	border-bottom: 1px solid #333;}

#sidebar>ul>li>ul>li ul{
	margin-left: 20px;
	/*+box-shadow:none;*/
	-moz-box-shadow: none;
	-webkit-box-shadow: none;
	-o-box-shadow: none;
	box-shadow: none;
	border: none;}

#sidebar ul li a img{
	vertical-align: text-bottom;
	padding-right: 4px;
	/*+opacity:49%;*/
	filter: alpha(opacity=49);
	-ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=49);
	-moz-opacity: 0.49;
	opacity: 0.49;}

#sidebar ul li:hover a img, #sidebar ul li.current a img{
	/*+opacity:100%;*/
	filter: alpha(opacity=100);
	-ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
	-moz-opacity: 1;
	opacity: 1;}

#sidebar ul li.nosubmenu a{background-image: none !important;}

#sidebar>ul>li:hover>a, #sidebar>ul>li.current>a{
	color: #FFF;
	background-position: 96% -53px !important;
	background-color: #585858;}

#sidebar ul li ul{
	background: #404040;
	/*+box-shadow:inset 0 0 15px #3A3A3A;*/
	-moz-box-shadow: inset 0 0 15px #3A3A3A;
	-webkit-box-shadow: inset 0 0 15px #3A3A3A;
	-o-box-shadow: inset 0 0 15px #3A3A3A;
	box-shadow: inset 0 0 15px #3A3A3A;
	border-bottom: 1px solid #313131;
	padding: 7px 0px;}

#sidebar ul li li a{
	height: 28px;
	line-height: 28px;
	text-indent: 52px;
	display: block;
	text-decoration: none;
	font-weight: normal;
	font-size: 1em;
	background: transparent url(images/sideli.png) no-repeat 37px 10px;
	color: #949090;}

#sidebar ul li li a:hover, #sidebar ul li li.current a{background-position: 37px -31px;}
#sidebar a:hover, #sidebar li.current>a{padding-left:0px;color: #09f !important;}
#sidebar a#menucollapse{color:#AAA; display: block; height:40px; line-height: 40px; text-align: right; padding-right: 10px; text-decoration: none; font-style:italic;}
#sidebar a span{ color:#AAA; border: 1px solid #AAA; border-radius:20px; width: 17px; height: 17px; display: inline-block; text-align: left; text-indent: 2px; line-height: 16px;background-image: -webkit-linear-gradient(top,rgba(0,0,0,0),rgba(0,0,0,0.2)); }

.collapsed #sidebar{width: 56px; }
.collapsed #sidebar>ul>li{ position: relative; }
.collapsed #sidebar>ul>li>a{ width: 52px; overflow: hidden; background-image:none!important; text-indent: 17px; -webkit-transition:0.3s;-moz-transition:0.3s;-o-transition:0.3s;-ms-transition:0.3s;transition:0.3s;}
.collapsed #sidebar>ul>li:hover>a{ width: 200px;}
.collapsed #sidebar>ul>li ul{ position: absolute; width: 146px; left:-150px;-webkit-transition:0.5s;-moz-transition:0.3s;-o-transition:0.3s;-ms-transition:0.3s;transition:0.3s; display: block!important;}
.collapsed #sidebar>ul>li ul ul{ left:0; margin-left: 0px; }
.collapsed #sidebar>ul>li:hover>ul{overflow: visible; left:56px;  }
.collapsed #sidebar>ul>li ul li a{text-indent: 10px; background:none; overflow: hidden;}
.collapsed #sidebar>ul>li ul ul li a{text-indent: 20px; }
.collapsed #sidebar>ul>li ul ul ul li a{text-indent: 40px; }
.collapsed #content{margin-left: 90px;}



#content.white .bloc .bloc_titre{
	background: url(images/setting_button/blocs_titles/white-title.png);
	color: #222;
	font-weight: bold;
	border: none;
	@extend .textShadowWhite;}

#content.white .bloc .bloc_titre .toggle{background-position: left -18px;}
#content.white .bloc .bloc_titre .toggle.hide{background-position: right -18px;}
#content.white .bloc .bloc_titre .next{background-position: right -18px;}
#content.white .bloc .bloc_titre .prev{background-position: center -18px;}

/* White sidebar */
#sidebar.white a#menucollapse{color:#555;}

#sidebar.white{
	background-color: #ECECEC;
	border-right: none;
	@include ombreSiderbar;}

#sidebar.white>ul>li>a{
	color: #7C7D7E;
	/*+text-shadow:none;*/
	-moz-text-shadow: none;
	-webkit-text-shadow: none;
	-o-text-shadow: none;
	text-shadow: none;
	background: #E7E7E7 url(images/white-arrow.png) no-repeat 96% -5px;
	border-bottom: 1px solid #D6D6D6;
	border-top: 1px solid #FCFDFD;
	border-right: 4px solid #D6D6D6;}

#sidebar.white>ul>li:hover>a, #sidebar.white>ul>li.current>a{
	background-color: #ECECEC;
	color: #09f;
	border-right-color: #808080;}

#sidebar.white ul li ul{
	background: #F8F8F8;
	/*+box-shadow:inset 0 0 15px #CECECE;*/
	-moz-box-shadow: inset 0 0 15px #CECECE;
	-webkit-box-shadow: inset 0 0 15px #CECECE;
	-o-box-shadow: inset 0 0 15px #CECECE;
	box-shadow: inset 0 0 15px #CECECE;
	/*+box-shadow:none;*/
	-moz-box-shadow: none;
	-webkit-box-shadow: none;
	-o-box-shadow: none;
	box-shadow: none;
	padding: 7px 0px;
	border-right: 4px solid #C5C5C5;
	border-bottom: 1px solid #D6D6D6;}

#sidebar.white ul li li a{
	color: #7C7D7E;
	/*+text-shadow:none;*/
	-moz-text-shadow: none;
	-webkit-text-shadow: none;
	-o-text-shadow: none;
	text-shadow: none;
	background-image: url(images/dark-sideli.png);}

#sidebar.white a:hover, #sidebar.white li.current>a{color: #000 !important;}


/* Dark */
.dark{background: url(images/setting_button/bg/dark-bg.png);}

.dark #content .bloc{
	/*+box-shadow:0px 5px 15px rgba(0, 0, 0, 0.5);*/
	-moz-box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.5);
	-webkit-box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.5);
	-o-box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.5);
	box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.5);}

.dark #content h1{
	color: #FFF;
	@extend .contentTextShadowDark;}


/*Dark Sidebar*/
#sidebar.black{
	background-color: #262626;
	border-right: 1px solid #1B1B1B;
	@include ombreSiderbar;}

#sidebar.black>ul>li>a{
	color: #F0F0F0;
	/*+text-shadow:0px 1px #0D0D0D;*/
	-moz-text-shadow: 0px 1px #0D0D0D;
	-webkit-text-shadow: 0px 1px #0D0D0D;
	-o-text-shadow: 0px 1px #0D0D0D;
	text-shadow: 0px 1px #0D0D0D;
	background: #222 url(images/arrow.png) no-repeat 96% -5px;
	border-bottom: 1px solid #191919;
	border-top: 1px solid #2D2C2C;
	border-right: 4px solid #303030;}

#sidebar.black>ul>li:hover>a, #sidebar.black ul li.current>a{
	background-color: #262626;
	color: #FFF;
	border-right-color: #09F;}

#sidebar.black ul li ul{
	background: #262626;
	/*+box-shadow:inset 0 0 15px #1B1B1B;*/
	-moz-box-shadow: inset 0 0 15px #1B1B1B;
	-webkit-box-shadow: inset 0 0 15px #1B1B1B;
	-o-box-shadow: inset 0 0 15px #1B1B1B;
	box-shadow: inset 0 0 15px #1B1B1B;
	padding: 7px 0px;
	border-right: 4px solid #3C3A3A;
	border-bottom: 0px solid #000;}

#sidebar.black ul ul ul{
	background: #262626;
	/*+box-shadow:inset 0 0 15px #1B1B1B;*/
	-moz-box-shadow:none;
	-webkit-box-shadow:none; 
	-o-box-shadow:none;
	box-shadow:none;
	padding: 7px 0px;
	border-right: none;
	border-bottom: 0px solid #000;}

.collapsed #sidebar.black ul ul{border-right: none;}

#sidebar.black ul li li a{color: #747474;}


/* ---------------------------------------
			bloc_contenu
------------------------------------------ */
#content{
	margin: 28px 40px 0px 280px;
	color: #6D6D6D;
	/*padding: 0px 0px 20px;*/
	font-size: 12px;
	position: relative;}
	
#content.nosidebar{margin-left: 40px;}

#content a{color: #0A93CC;}

#content a:hover{
	color: #000;
	text-decoration: underline;}

#content table {
	width:100%;}

#content h1{
	color: #555;
	font:bold 4em 'riesling';
	margin-top: 50px;
	letter-spacing: 1px;
 	@include ombreTextNoir;}

#content h1 a{color: inherit;}
#content h1 span{font-size: 16px;}
#content h1 img{vertical-align: top;margin-right:10px;}
#content .bloc{
	position: relative;
	margin: 20px 0 0;
	background-color: #FFF;
	overflow: hidden;
	@include ombreRadius($ombreClair);
	background: rgb(238,238,238); /* Old browsers */
	/* IE9 SVG, needs conditional override of 'filter' to 'none' */
	background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMTAwJSIgeDI9IjEwMCUiIHkyPSIwJSI+CiAgICA8c3RvcCBvZmZzZXQ9IjAlIiBzdG9wLWNvbG9yPSIjZWVlZWVlIiBzdG9wLW9wYWNpdHk9IjEiLz4KICAgIDxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iI2VlZWVlZSIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgPC9saW5lYXJHcmFkaWVudD4KICA8cmVjdCB4PSIwIiB5PSIwIiB3aWR0aD0iMSIgaGVpZ2h0PSIxIiBmaWxsPSJ1cmwoI2dyYWQtdWNnZy1nZW5lcmF0ZWQpIiAvPgo8L3N2Zz4=);
	background: -moz-linear-gradient(45deg,  rgba(238,238,238,1) 0%, rgba(238,238,238,1) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left bottom, right top, color-stop(0%,rgba(238,238,238,1)), color-stop(100%,rgba(238,238,238,1))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(45deg,  rgba(238,238,238,1) 0%,rgba(238,238,238,1) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(45deg,  rgba(238,238,238,1) 0%,rgba(238,238,238,1) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(45deg,  rgba(238,238,238,1) 0%,rgba(238,238,238,1) 100%); /* IE10+ */
	background: linear-gradient(45deg,  rgba(238,238,238,1) 0%,rgba(238,238,238,1) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#eeeeee', endColorstr='#eeeeee',GradientType=1 ); /* IE6-8 fallback on horizontal radient */ }

#content .bloc .bloc_contenu{padding: 10px;}
#content .bloc_gauche, #content .bloc_droit{
	width: 45%;
	display: inline-block;
	vertical-align:top;
	float:left !important;}

#content .bloc_gauche {margin-right:20px;}
#content .bloc_droit{display: inline-block;vertical-align:top;}
#content .bloc .bloc_titre{
	height: 35px;
	background: url(images/setting_button/blocs_titles/bloctitle.png);
	line-height: 34px;
	padding: 0 10px;
	font-size: 15px;
	font-weight: bold;
	color: #E6E6E6;
	@extend .contentRadiusHaut;}

#content .bloc .bloc_titre .toggle{
	display: block;
	height: 18px;
	width: 18px;
	background: url(images/slidebuttons.png) left top no-repeat;
	position: absolute;
	top: 8px;
	right: 10px;}
	
#content .bloc .bloc_titre .toggle.hide{background-position: top right;}
#content .good{color: #6F9106;}
#content .neutral{color: #FF7400;}
#content .bad{color: #C21C1C;}


/* ---------------------------------------
			Content Dashboard
------------------------------------------ */

/* -- Dashboard aujourdhui */
#dashboard_aujourdhui .bloc_contenu thead th{
	padding-bottom: 10px;
	font:italic 1.2em sans-serif;
	color:#888;}

#dashboard_aujourdhui .bloc_contenu tbody td{padding-top:15px;}
#dashboard_aujourdhui .bloc_contenu tbody tr td{padding:10px 0;border-top:1px solid #DADADA;}
#dashboard_aujourdhui .bloc_contenu tbody tr:hover td{border-top: 1px solid #BABABA;cursor:default;}
#dashboard_aujourdhui .bloc_contenu tbody h4{color: #404040; font-size: 1.8em;}


#derniers_commentaires .item_commentaire {padding:10px 0;border-bottom:1px solid #DADADA;}
#derniers_commentaires .item_commentaire:hover {border-bottom: 1px solid #BABABA;}
#derniers_commentaires .item_commentaire img {display: inline-block;vertical-align:top;margin-right:5px;}
#derniers_commentaires .item_commentaire_wrap {display: inline-block;width:320px;}
#derniers_commentaires .item_commentaire_wrap .item_commentaire_meta{margin-bottom:10px;}