@charset "CP850";
/* ----------------------------------------- */
/*		Nom : Aux mariées de Christéle	 */
/*			Date : 06-03-2012  		*/
/*              Auteurs: Kryzalead               */
/* 			  Edition: style.scss			*/
/*			  Version: 1.0				*/
/* -------------------------------------- */
/* ---------------------------------------
				Reset Tags
------------------------------------------ */
/* line 21, styles.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-weight: inherit;
  font-style: inherit;
  font-size: 100%;
  font-family: inherit;
  vertical-align: baseline;
}

/* ---------------------------------------
			Reset HTML 5    
------------------------------------------ */
/* line 36, styles.scss */
aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block;
}

/* ---------------------------------------
				Styles global
------------------------------------------ */
/* line 42, styles.scss */
html {
  width: 100%;
  height: 100%;
}

/* line 44, styles.scss */
html, body {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 0.95em;
  color: black;
  background: #d1789f url(images/bg.jpg) top center repeat;
  -webkit-font-smoothing: antialiased;
  -moz-font-smoothing: antialiased;
  font-smoothing: antialiased;
}

/* ---------------------------------------
			Général reset
------------------------------------------ */
/* line 57, styles.scss */
hr {
  width: 100%;
  clear: both;
  visibility: hidden;
}

/* line 62, styles.scss */
.cb {
  clear: both;
  display: block !important;
  float: none !important;
  height: 0 !important;
}

/* line 68, styles.scss */
ol, ul, li {
  list-style: none;
  line-height: 22px;
}

/* line 70, styles.scss */
.alignLeft {
  float: left;
}

/* ---------------------------------------
				Liens
------------------------------------------ */
/* line 76, styles.scss */
a, p a {
  text-decoration: none;
  color: black;
  outline: 0;
}

/* line 81, styles.scss */
a:hover {
  outline: 0;
  color: white;
}

/* line 82, styles.scss */
a:focus, a:active {
  outline: 0;
}

/* line 83, styles.scss */
a:visited {
  color: white;
}

/* line 84, styles.scss */
a img {
  border: none;
}

/* ---------------------------------------
				Form
------------------------------------------ */
/* line 89, styles.scss */
textarea {
  overflow: auto;
}

/* line 90, styles.scss */
input {
  cursor: auto;
}

/* line 91, styles.scss */
label {
  cursor: text;
}

/* ---------------------------------------
				Titres Hx
------------------------------------------ */
/* line 97, styles.scss */
h1, h2 {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: normal;
  position: relative;
}

/* line 102, styles.scss */
h1 {
  font: normal 3.5em'riesling';
  color: #000;
  /*+text-shadow:1px 1px 2px #999;*/
  -moz-text-shadow: 1px 1px 2px #999;
  -webkit-text-shadow: 1px 1px 2px #999;
  -o-text-shadow: 1px 1px 2px #999;
  text-shadow: 1px 1px 2px #999;
}

/* line 111, styles.scss */
h2 {
  font: normal 1.3em sans-serif;
  padding: 30px 0 20px 30px;
  /*+text-shadow:1px 1px 2px #999;*/
  -moz-text-shadow: 1px 1px 2px #999;
  -webkit-text-shadow: 1px 1px 2px #999;
  -o-text-shadow: 1px 1px 2px #999;
  text-shadow: 1px 1px 2px #999;
}

/* line 120, styles.scss */
h1 a, h1 a:visited, h2 a, h2 a:visited {
  text-decoration: none;
  color: #999;
}

/* line 121, styles.scss */
h1 a:hover, h1 a:focus, h2 a:hover, h2 a:focus {
  text-decoration: none;
}

/* ---------------------------------------
					Span
------------------------------------------ */
/* line 127, styles.scss */
.vert {
  color: #9CA436;
}

/* line 128, styles.scss */
.rose {
  color: #AA4673;
}

/* line 129, styles.scss */
.gras {
  font-weight: bold;
}

/* line 130, styles.scss */
.aux_mariees_de_christele {
  font: bold 1.2em 'sans-serif';
  color: #AA4673;
}

/* ---------------------------------------
				Frameworks
------------------------------------------ */
/* line 136, styles.scss */
.boxOmbre {
  -webkit-box-shadow: #222222, 0px, 1px, 5px;
  -moz-box-shadow: #222222, 0px, 1px, 5px;
  box-shadow: #222222, 0px, 1px, 5px;
}

/* line 137, styles.scss */
.boxRadius {
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
}

/* -- Defaut -- */
/* -- $ Var -- */
/* --  Mixin -- */
/* ---------------------------------------
				@Font-face
------------------------------------------ */
@font-face {
  font-family: 'riesling';
  src: url("fonts/riesling/riesling.eot");
  src: url("fonts/riesling/riesling.eot?#iefix") format("embedded-opentype"), url("fonts/riesling/riesling.woff") format("woff"), url("fonts/riesling/riesling.ttf") format("truetype"), url("fonts/riesling/riesling.svg#RieslingRegular") format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'leckerli';
  src: url("fonts/leckerli/leckerlione.eot");
  src: url("fonts/leckerli/leckerlione.eot?#iefix") format("embedded-opentype"), url("fonts/leckerli/leckerlione.woff") format("woff"), url("fonts/leckerli/leckerlione.ttf") format("truetype"), url("fonts/leckerli/leckerlione.svg#LeckerliOneRegular") format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'swenson';
  src: url("fonts/swenson/swenson.eot");
  src: url("fonts/swenson/swenson.eot?#iefix") format("embedded-opentype"), url("fonts/swenson/swenson.woff") format("woff"), url("fonts/swenson/swenson.ttf") format("truetype"), url("fonts/swenson/swenson.svg#SwensonRegular") format("svg");
  font-weight: normal;
  font-style: normal;
}

/* ---------------------------------------
				Container
------------------------------------------ */
/* line 203, styles.scss */
.wrap {
  display: block;
  width: 995px;
  margin: 0 auto 20px;
}

/* ---------------------------------------
				Header
------------------------------------------ */
/* line 212, styles.scss */
header h1 {
  position: relative;
  display: inline-block;
  vertical-align: top;
  margin-top: 20px;
  height: 96px;
  width: 410px;
}

/* ---------------------------------------
				Nav
------------------------------------------ */
/* line 224, styles.scss */
nav#menu {
  display: inline-block;
  vertical-align: top;
  margin: 70px 0 0 10px;
}

/* line 229, styles.scss */
nav#menu ul#nav_menu {
  position: absolute;
  text-align: left;
  top: 55px;
  padding: 0;
  height: 50px;
}

/* line 236, styles.scss */
nav#menu ul#nav_menu li {
  padding: 0;
  margin: 0;
  display: inline;
}

/* line 241, styles.scss */
nav#menu ul#nav_menu li a {
  text-shadow: 2px 2px 3px #333;
  -moz-transition: color 0.25s;
  -webkit-transition: color 0.25s;
  -o-transition: color 0.25s;
  -ms-transition: color 0.25s;
  transition: color 0.25s;
  -moz-transition: font-size 0.25s;
  -webkit-transition: font-size 0.25s;
  -o-transition: font-size 0.25s;
  -ms-transition: font-size 0.25s;
  transition: font-size 0.25s;
  -webkit-transition: 0.25s ease-out;
  -moz-transition: 0.25s ease-out;
  -o-transition: 0.25s ease-out;
  -ms-transition: 0.25s ease-out;
  font-weight: normal;
  margin-right: 7px;
  font-size: 19px;
  font-family: 'leckerli';
}

/* line 262, styles.scss */
nav#menu ul#nav_menu li a:hover {
  text-shadow: 0px 6px 4px #777777;
  filter: dropshadow(color=#777777, offx=3, offy=6);
  color: #842490;
  font-weight: normal;
  margin-right: 2px;
  font-size: 26px;
}

/* ---------------------------------------
				Contenu
------------------------------------------ */
/* line 274, styles.scss */
#contenu {
  width: 990px;
  background-color: #eee;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  -ms-border-radius: 15px;
  -o-border-radius: 15px;
  border-radius: 15px;
  -webkit-box-shadow: 2px 4px 15px #222222;
  -moz-box-shadow: 2px 4px 15px #222222;
  box-shadow: 2px 4px 15px #222222;
}

/* line 279, styles.scss */
.bg {
  background: #555555 url(images/bg-contenu.jpg) 270px 0 no-repeat;
  width: 990px;
  -webkit-border-radius: 15px 15px;
  -moz-border-radius: 15px 15px 0px 0px / 15px 15px 0px 0px;
  -ms-border-radius: 15px 15px 0px 0px / 15px 15px 0px 0px;
  -o-border-radius: 15px 15px 0px 0px / 15px 15px 0px 0px;
  border-radius: 15px 15px 0px 0px / 15px 15px 0px 0px;
}

/* line 284, styles.scss */
.bg p {
  color: white;
}

/* --	Bandeau contenu -- */
/* line 288, styles.scss */
#bandeau {
  border-top: 1px dashed #999;
  width: 990px;
  height: 115px;
  background: transparent url(images/bandeau.png) 0 0 no-repeat;
  display: block;
}

/* line 295, styles.scss */
#bandeau ul {
  display: inline-block;
  vertical-align: top;
  color: white;
  font: normal 1.6em 'swenson';
  padding-left: 10px;
  text-shadow: 0px 1px 5px #222;
  filter: dropshadow(color=#222222, offx=1, offy=1);
}

/* line 304, styles.scss */
#bandeau ul.horaires {
  text-align: right;
}

/* line 305, styles.scss */
#bandeau li.titre {
  font-weight: bold;
  font-size: 1.4em;
  padding-bottom: 15px;
}

/* line 310, styles.scss */
#bandeau img {
  display: inline-block;
  vertical-align: top;
  margin: 15px 100px 0;
}

/* --  Bloc Accueil et blocs -- */
/* line 317, styles.scss */
.bloc #accueil {
  width: 600px;
  padding: 30px 15px 20px;
  margin: 0;
}

/* line 319, styles.scss */
.blocs {
  padding: 20px;
}

/* -- Image accessoires -- */
/* line 323, styles.scss */
aside#image-accessoires {
  display: inline-block;
  vertical-align: top;
  position: relative;
  top: 220px;
  left: 20px;
}

/* line 330, styles.scss */
aside#image-accessoires img {
  width: 313px;
  height: 282px;
}

/* ---------------------------------------
				catalogue
------------------------------------------ */
/* line 338, styles.scss */
.produit {
  display: inline-block;
  vertical-align: top;
}

/* line 340, styles.scss */
.catalogue {
  position: relative;
  display: inline-block;
  width: 970px;
  margin: 0 auto;
}

/* line 346, styles.scss */
.catalogue h1.titre_produit {
  display: block;
  vertical-align: top;
  color: #000;
  font: normal 3.5em 'riesling';
  padding: 10px 0 20px 30px;
}

/* line 353, styles.scss */
.catalogue figure {
  position: relative;
  display: inline-block;
  vertical-align: top;
  margin: 0;
}

/* line 359, styles.scss */
.catalogue figure img {
  border: 1px solid white;
  padding: 3px;
  margin: 10px;
}

/* line 364, styles.scss */
.catalogue nav {
  margin-left: 15px;
}

/* line 366, styles.scss */
.catalogue nav figure:hover figcaption {
  color: #AA4673;
  text-decoration: underline;
}

/* line 370, styles.scss */
.catalogue figcaption {
  background-color: #fff;
  color: black;
  position: absolute;
  padding: 0 10px 0 2px;
  left: 14px;
  bottom: 14px;
}

/* line 378, styles.scss */
.catalogue img {
  display: block;
  margin: 10px 0;
  border: 5px solid white;
  -webkit-border-radius: 0px;
  -moz-border-radius: 0px;
  -ms-border-radius: 0px;
  -o-border-radius: 0px;
  border-radius: 0px;
  -webkit-box-shadow: 1px 1px 14px #555555;
  -moz-box-shadow: 1px 1px 14px #555555;
  box-shadow: 1px 1px 14px #555555;
}

/* line 384, styles.scss */
.catalogue img:hover {
  opacity: 0.8;
  -moz-opacity: 0.8;
  filter: alpha(opacity=8);
}

/* line 389, styles.scss */
.produit_metas {
  margin-left: 10px;
}

/* line 390, styles.scss */
.produit_metas span.prix {
  font-size: 1.2em;
  font-weight: bold;
  color: #AA4673;
  margin: 10px 0 20px;
  display: inline-block;
}

/* line 391, styles.scss */
.produit_metas p {
  line-height: 12px;
  text-align: center;
}

/* line 393, styles.scss */
#catalogue_accessoire {
  width: 950px;
  margin-top: 30px;
  border-top: 1px dotted #c1c1c1;
}

/* -- blocs catalogue -- */
/* line 396, styles.scss */
.blocs h1 a {
  color: #000;
}

/* -- Recapitulatif produits -- */
/* line 400, styles.scss */
#filtre_produit {
  margin: 20px 10px;
}

/* line 401, styles.scss */
#filtre_produit .input select {
  float: left;
}

/* line 403, styles.scss */
.toggle {
  display: inline-block;
  background: url("images/white-arrow.png") 1px -63px no-repeat;
  width: 18px;
  height: 18px;
}

/* line 409, styles.scss */
#show_filter .active_arrow {
  background-position: 0 -15px;
}

/* ---------------------------------------
				Fiche produits
------------------------------------------ */
/* line 414, styles.scss */
.fiche h4 {
  margin-left: 0;
}

/* line 415, styles.scss */
.produit-gauche {
  width: 300px;
  float: left;
  padding: 0;
}

/* line 416, styles.scss */
.produit-droit {
  width: 225px;
  float: left;
  padding-left: 25px;
}

/* line 417, styles.scss */
.fiche .photos {
  border: 3px solid #DBE5E8;
  -webkit-border-radius: 0px;
  -moz-border-radius: 0px;
  -ms-border-radius: 0px;
  -o-border-radius: 0px;
  border-radius: 0px;
  -webkit-box-shadow: 1px 1px 14px #555555;
  -moz-box-shadow: 1px 1px 14px #555555;
  box-shadow: 1px 1px 14px #555555;
}

/* line 418, styles.scss */
.fiche .prix {
  display: block;
  float: none;
  color: #FF683A;
  font-weight: bold;
  font-size: 2.6em;
  /*+text-shadow:1px 1px 2px #999;*/
  -moz-text-shadow: 1px 1px 2px #999;
  -webkit-text-shadow: 1px 1px 2px #999;
  -o-text-shadow: 1px 1px 2px #999;
  text-shadow: 1px 1px 2px #999;
}

/* line 419, styles.scss */
.fiche .ancien-prix {
  font-weight: bold;
  text-decoration: line-through;
  font-style: italic;
  margin: 0px;
  padding: 0px;
  font-size: 1.1em;
}

/* line 420, styles.scss */
.fiche .description {
  border-bottom: 1px solid #D9D9D9;
  padding-bottom: 11px;
  margin-bottom: 7px;
}

/* line 421, styles.scss */
.fiche .description li {
  line-height: 18px;
}

/* line 422, styles.scss */
.fiche .titre {
  font-size: 1.2em;
  font-weight: bold;
  color: #AA4673;
  padding: 15px 0 10px;
  text-decoration: underline;
}

/* line 423, styles.scss */
.fiche .promo {
  border-bottom: 1px solid #D9D9D9;
  padding: 3px 0 20px;
}

/* line 424, styles.scss */
.fiche .miniatures, .fiche .miniatures li {
  background: none;
  padding: 0;
  margin: 0;
}

/* line 425, styles.scss */
.fiche .miniatures li a {
  float: left;
  border: 2px solid #D9D9D9;
  height: 69px;
  margin: 10px 7px 0 0;
  -webkit-border-radius: 0px;
  -moz-border-radius: 0px;
  -ms-border-radius: 0px;
  -o-border-radius: 0px;
  border-radius: 0px;
  -webkit-box-shadow: 1px 1px 14px #555555;
  -moz-box-shadow: 1px 1px 14px #555555;
  box-shadow: 1px 1px 14px #555555;
}

/* line 426, styles.scss */
.fiche .miniatures li a:hover {
  border-color: #AA4673;
  /*+opacity:80%;*/
  filter: alpha(opacity=80);
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=80);
  -moz-opacity: 0.8;
  opacity: 0.8;
}

/* line 427, styles.scss */
.fiche .tags a {
  text-decoration: underline;
}

/* line 428, styles.scss */
.produit-partage a {
  text-decoration: none;
}

/* line 429, styles.scss */
.produit-partage a:hover {
  opacity: 0.7;
  -moz-opacity: 0.7;
  filter: alpha(opacity=7);
}

/* gallerie */
/* line 433, styles.scss */
.gallerie {
  overflow: none;
}

/* line 434, styles.scss */
.gallerie h4 {
  line-height: 18px;
  padding: 20px 0 5px;
  margin: 20px 0 12px;
  border-bottom: 1px solid #D9D9D9;
  border-top: 1px solid #D9D9D9;
  /*+text-shadow:1px 1px 2px #999;*/
  -moz-text-shadow: 1px 1px 2px #999;
  -webkit-text-shadow: 1px 1px 2px #999;
  -o-text-shadow: 1px 1px 2px #999;
  text-shadow: 1px 1px 2px #999;
}

/* line 435, styles.scss */
.gallerie h4 a {
  text-decoration: none;
}

/* line 436, styles.scss */
.gallerie a {
  color: #444;
}

/* line 437, styles.scss */
.gallerie a:hover {
  color: #AA4673;
  text-decoration: underline;
}

/* line 438, styles.scss */
.gallerie p {
  padding: 5px 0;
}

/* line 439, styles.scss */
.gallerie .blanc {
  background: #FFF;
  margin: 20px;
}

/* line 440, styles.scss */
.gallerie .blanc h4 {
  font: bold 2.1em 'riesling';
}

/* ---------------------------------------
				Partenariats
------------------------------------------ */
/* line 446, styles.scss */
#partenariats {
  color: #0F0F0F;
  margin: 0 auto;
  border: 1px solid red;
}

/* line 447, styles.scss */
ul.ligne1, ul.ligne2 {
  margin: 20px 0;
  display: inline-block;
}

/* line 448, styles.scss */
ul.ligne1 li, ul.ligne2 li {
  display: inline-block;
  vertical-align: top;
  width: 310px;
  border-left: 1px solid #E3E3E3;
  padding: 0 3px;
  text-align: center;
}

/* line 449, styles.scss */
ul.ligne1 li:first-child, ul.ligne2 li:first-child {
  border: 0;
}

/* line 450, styles.scss */
ul.ligne1 li ul li, ul.ligne2 li ul li {
  padding: 0;
  margin: 3px 0;
  border: none;
}

/* line 451, styles.scss */
ul.ligne1 li h3, ul.ligne2 li h3 {
  margin-bottom: 15px;
  font: bold 2.2em 'riesling';
}

/* line 452, styles.scss */
ul.ligne1 ul li.site_web, ul.ligne2 ul li.site_web {
  padding-top: 15px;
}

/* line 453, styles.scss */
ul.ligne2 li#dernier {
  border-right: 1px solid #E3E3E3;
}

/* line 454, styles.scss */
ul.ligne2 li#avant_dernier {
  border: none;
}

/* ---------------------------------------
				Contact
------------------------------------------ */
/* line 460, styles.scss */
#formContact {
  position: relative;
  display: inline-block;
  vertical-align: top;
  margin-left: 30px;
  padding: 0;
}

/* line 467, styles.scss */
#formContact legend {
  font: normal 4em 'riesling';
  text-align: left;
  text-decoration: none;
  padding: 40px 0 40px 30px;
}

/* line 473, styles.scss */
#formContact .mariee {
  visibility: hidden;
  position: absolute;
}

/* line 477, styles.scss */
form.formulaire {
  width: 360px;
  display: inline-block;
  vertical-align: top;
}

/* line 482, styles.scss */
form input[type=text], form textarea {
  border: none;
  background: #fff;
  width: 200px;
  height: 28px;
  padding: 0 10px;
  margin: 5px 0 15px 0;
  color: #686464;
  font-size: 1em;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  -webkit-box-shadow: inset 0px 0px 10px 0px #222;
  -moz-box-shadow: inset 0px 0px 10px 0px #222;
  box-shadow: inset 0px 0px 10px 0px #222;
}

/* line 498, styles.scss */
form textarea {
  font-size: 1.3em;
  width: 330px;
  max-width: 380px;
  max-height: 260px;
  height: 150px;
  margin: 0;
  padding-top: 10px;
}

/* line 507, styles.scss */
fieldset {
  border: 0 none;
}

/* line 508, styles.scss */
legend {
  display: hidden;
}

/* line 510, styles.scss */
.envoyer input {
  margin: 10px 0 0 230px;
  width: 120px;
  height: 35px;
  border: none;
  padding: 0;
  cursor: pointer;
  background: url("images/bouton_submit.png") top left no-repeat;
}

/* line 519, styles.scss */
.envoyer:hover {
  opacity: 0.8;
  -moz-opacity: 0.8;
  filter: alpha(opacity=8);
}

/*adresse-sociaux*/
/* line 525, styles.scss */
#reseauxSociaux {
  color: #878383;
  font-size: 1.3em;
  margin-left: 15px;
}

/* line 530, styles.scss */
#reseauxSociaux a {
  display: inline-block;
  vertical-align: top;
  margin: 10px 40px 0 0;
}

/* line 535, styles.scss */
#reseauxSociaux a img {
  width: 150px;
}

/* line 537, styles.scss */
#reseauxSociaux a:hover img {
  opacity: 0.8;
  -moz-opacity: 0.8;
  filter: alpha(opacity=8);
}

/* -- planGoogle -- */
/* line 545, styles.scss */
#plan_google {
  display: inline-block;
  vertical-align: top;
  width: 500px;
  height: 450px;
  margin: 100px 0 0 40px;
  border: 6px solid white;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  -ms-border-radius: 15px;
  -o-border-radius: 15px;
  border-radius: 15px;
  -webkit-box-shadow: 2px 4px 15px #222222;
  -moz-box-shadow: 2px 4px 15px #222222;
  box-shadow: 2px 4px 15px #222222;
}

/* ---------------------------------------
				Guestbook
------------------------------------------ */
/* line 558, styles.scss */
.mariee {
  visibility: hidden;
}

/* line 559, styles.scss */
.comment {
  border: 1px solid #999;
  width: 600px;
  margin: 0 auto;
  border-radius: 5px;
  margin-bottom: 5px;
  border: 1px solid red;
}

/* line 560, styles.scss */
.comment .comment-title {
  background: #ccc;
  padding: 5px;
  border-bottom: 1px solid #999;
}

/* line 561, styles.scss */
.comment .comment-title .action {
  float: right;
}

/* line 562, styles.scss */
.comment .comment-content {
  padding: 5px;
}

/* line 564, styles.scss */
#guestbook {
  border-top: 1px solid #D9D9D9;
  padding-top: 10px;
}

/* line 566, styles.scss */
#guestbook_form {
  padding: 10px 20px;
  background-color: #fff;
  border: none;
  display: inline-block;
  width: 400px;
  margin: 20px 10px 30px 0;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  -ms-border-radius: 15px;
  -o-border-radius: 15px;
  border-radius: 15px;
  -webkit-box-shadow: 2px 4px 15px #222222;
  -moz-box-shadow: 2px 4px 15px #222222;
  box-shadow: 2px 4px 15px #222222;
}

/* line 575, styles.scss */
#guestbook_form label {
  display: inline-block;
  vertical-align: top;
  vertical-align: top;
  width: 100px;
}

/* line 581, styles.scss */
#guestbook_form input[type=text] {
  width: 180px;
}

/* line 583, styles.scss */
#guestbook_form .submit {
  display: inline-block;
  margin: 20px 0 0 20px;
}

/* line 587, styles.scss */
form .placeholder {
  margin-left: 0;
}

/* line 588, styles.scss */
form .placeholder label {
  position: absolute;
  line-height: 36px;
  margin-left: 15px;
}

/* line 590, styles.scss */
#guestbook_image {
  display: inline-block;
  vertical-align: top;
  margin-top: 100px;
}
