@import "compass/css3";
/* ----------------------------------------- */
/*		Nom : Aux mariées de Christéle	 */
/*			Date : 06-03-2012  		*/
/*              Auteurs: Kryzalead               */
/* 			  Edition: style.scss			*/
/*			  Version: 1.0				*/
/* -------------------------------------- */

/* ---------------------------------------
				Reset Tags
------------------------------------------ */

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	font-weight: inherit;
	font-style: inherit;
	font-size: 100%;
	font-family: inherit;
	vertical-align: baseline;}


/* ---------------------------------------
			Reset HTML 5    
------------------------------------------ */
aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {display: block;}


/* ---------------------------------------
				Styles global
------------------------------------------ */
html {width:100%;height:100%;}

html, body{
	font-family:Arial, Helvetica, sans-serif;
	font-size: 0.95em;
	color: black;
			line-height:18px;

	background:#D1789F url(images/bg.jpg) top center repeat;
	-webkit-font-smoothing:antialiased;
	-moz-font-smoothing:antialiased;
	font-smoothing:antialiased;}
	

/* ---------------------------------------
			Général reset
------------------------------------------ */
hr {
	width: 100%;
	clear: both;
	visibility: hidden;}

.cb {
	clear:both;
	display:block !important;
	float:none !important;
	height:0 !important;}

ol, ul, li {list-style:none;line-height:22px;}

.alignLeft{float: left}


/* ---------------------------------------
				Liens
------------------------------------------ */
a, p a {
	text-decoration: none;
	color: black;
	outline: 0;}

a:hover 			{outline: 0; color:white;}
a:focus, a:active	{outline: 0;}
a:visited			{color: white;}
a img 				{border: none}

/* ---------------------------------------
				Form
------------------------------------------ */
textarea {overflow: auto;}
input		{cursor: auto;}
label 	{cursor:text;}


/* ---------------------------------------
				Titres Hx
------------------------------------------ */
h1, h2 {
	font-family: Arial, Helvetica, sans-serif;
	font-weight: normal;
	position:relative;}
	
h1 {
	font:normal 3.5em'riesling';
	color:#000;
	/*+text-shadow:1px 1px 2px #999;*/
	-moz-text-shadow:1px 1px 2px #999;
	-webkit-text-shadow:1px 1px 2px #999;
	-o-text-shadow:1px 1px 2px #999;
	text-shadow:1px 1px 2px #999;}

h2 {
	font: normal 1.3em sans-serif;
	padding: 30px 0 20px 30px;
	/*+text-shadow:1px 1px 2px #999;*/
	-moz-text-shadow:1px 1px 2px #999;
	-webkit-text-shadow:1px 1px 2px #999;
	-o-text-shadow:1px 1px 2px #999;
	text-shadow:1px 1px 2px #999;}

h1 a, h1 a:visited, h2 a, h2 a:visited			{text-decoration: none; color: #999;}
h1 a:hover, h1 a:focus, h2 a:hover, h2 a:focus	{text-decoration: none;}


/* ---------------------------------------
				Paragraphe
------------------------------------------ */
p {margin-bottom: 7px;}


/* ---------------------------------------
					Span
------------------------------------------ */
.vert {color: #9CA436;}
.rose {color: #AA4673;}
.gras {font-weight:bold;}
.aux_mariees_de_christele {font:bold 1.2em 'sans-serif'; color:#AA4673;}


/* ---------------------------------------
				Frameworks
------------------------------------------ */
.boxOmbre{@include box-shadow(#222,0px,1px,5px);}
.boxRadius{@include border-radius(5px);}

/* -- Defaut -- */
$default-box-shadow-h-offset:2px;
$default-box-shadow-v-offset:4px;
$default-box-shadow-blur:15px;

$default-border-radius:15px;

$default-text-shadow-h-offset:0px;
$default-text-shadow-v-offset:1px;
$default-text-shadow-blur:5px;

/* -- $ Var -- */
$ombre:#222;
$experimental-support-for-svg: true;


/* --  Mixin -- */
@mixin contenu($ombre){
	$default-box-shadow-color:$ombre;
		@include border-radius;
		@include box-shadow;}

@mixin images{
	@include border-radius(0px);
	@include box-shadow(1px 1px 14px #555);}	

@mixin radiusHaut {
	@include border-radius(15px 15px 0px 0px, 15px 15px 0px 0px);}


/* ---------------------------------------
				@Font-face
------------------------------------------ */
@font-face {
    font-family: 'jenna';
    src: url('fonts/jenna/jennasue.eot');
    src: url('fonts/jenna/jennasue.eot?#iefix') format('embedded-opentype'),
         url('fonts/jenna/jennasue.woff') format('woff'),
         url('fonts/jenna/jennasue.ttf') format('truetype'),
         url('fonts/jenna/jennasue.svg#JennaSueRegular') format('svg');
    		font-weight: normal;font-style: normal;}

@font-face {
	font-family: 'riesling';
		src: url('fonts/riesling/riesling.eot');
		src: url('fonts/riesling/riesling.eot?#iefix') format('embedded-opentype'),
			url('fonts/riesling/riesling.woff') format('woff'),
			url('fonts/riesling/riesling.ttf') format('truetype'),
			url('fonts/riesling/riesling.svg#RieslingRegular') format('svg');
				font-weight: normal;font-style: normal;}

@font-face {
	font-family: 'leckerli';
		src: url('fonts/leckerli/leckerlione.eot');
		src: url('fonts/leckerli/leckerlione.eot?#iefix') format('embedded-opentype'),
		   url('fonts/leckerli/leckerlione.woff') format('woff'),
		   url('fonts/leckerli/leckerlione.ttf') format('truetype'),
		   url('fonts/leckerli/leckerlione.svg#LeckerliOneRegular') format('svg');
				font-weight: normal;font-style: normal;}

@font-face {
	font-family: 'swenson';
		src: url('fonts/swenson/swenson.eot');
		src: url('fonts/swenson/swenson.eot?#iefix') format('embedded-opentype'),
		   url('fonts/swenson/swenson.woff') format('woff'),
		   url('fonts/swenson/swenson.ttf') format('truetype'),
		   url('fonts/swenson/swenson.svg#SwensonRegular') format('svg');
					font-weight: normal;font-style: normal;}


/* ---------------------------------------
				Container
------------------------------------------ */
.wrap {
	display: block;
	width:995px;
	margin:0 auto 20px;}


/* ---------------------------------------
				Header
------------------------------------------ */
header h1 {
	position: relative;
	display: inline-block;
	vertical-align:top;
	margin-top:20px;
	height:96px;
	width:410px;}


/* ---------------------------------------
				Nav
------------------------------------------ */
nav#menu {
	display: inline-block;
	vertical-align:top;
	margin:70px 0 0 5px;}

nav#menu ul#nav_menu {
	position: absolute;
	text-align: left;
	padding: 0;
	height: 50px;
	width: 710px;}

nav#menu ul#nav_menu li {
	padding: 0;
	margin: 0;
	display: inline;}

nav#menu ul#nav_menu li a{
	text-shadow: 2px 2px 3px #333;
	-moz-transition: color 0.25s;
	-webkit-transition: color 0.25s;
	-o-transition: color 0.25s;
	-ms-transition: color 0.25s;
	transition: color 0.25s;
	-moz-transition: font-size 0.25s;
	-webkit-transition: font-size 0.25s;
	-o-transition: font-size 0.25s;
	-ms-transition: font-size 0.25s;
	transition: font-size 0.25s;
	-webkit-transition: 0.25s ease-out;
	-moz-transition: 0.25s ease-out;
	-o-transition: 0.25s ease-out;
	-ms-transition: 0.25s ease-out;
	font-weight:normal;
	margin-right:7px;
	font-size:18px;
	font-family:'leckerli';}

nav#menu ul#nav_menu li a:hover {
	text-shadow: 3px 6px 4px #777777;
	filter: dropshadow(color=#777777, offx=3, offy=6);
	color: #842490;
	font-weight:normal;
	margin-right:2px;
	font-size:26px;}


/* ---------------------------------------
				Contenu
------------------------------------------ */
#contenu {
	width:990px;
	background-color:#eee;
	@include contenu;}

.bg{
	background:#555 url(images/bg-contenu.jpg) 270px 0 no-repeat;
	width:990px;
	@include radiusHaut;}

.bg p{
	color:white;
	margin:10px 0;}


/* --	Bandeau contenu -- */
#bandeau {
	border-top: 1px dashed #999;
	width: 990px;
	height:115px;
	background: transparent url(images/bandeau.png) 0 0 no-repeat;
	display: block;}

#bandeau ul {
	display: inline-block;
	vertical-align: top;
	color: white;
	font: normal 1.6em 'swenson';
	padding-left: 10px;
	text-shadow: 1px 1px 5px #222;
	filter: dropshadow(color=#222, offx=1, offy=1);}

#bandeau ul.horaires {text-align: right;}
#bandeau li.titre {
	font-weight: bold;
	font-size: 1.4em;
	padding-bottom:15px;}

#bandeau img {
	display: inline-block;
	vertical-align: top;
	margin: 15px 100px 0;}


/* --  Bloc Accueil et blocs -- */
.bloc #accueil{width: 600px;padding: 10px;}
.bloc {display: inline-block;}

.blocs {padding:20px;}


/* -- Image accessoires -- */
aside#image-accessoires {
	display: inline-block;
	vertical-align:top;
	position: relative;
	top:220px;
	left:20px;}

aside#image-accessoires img{
	width:313px;
	height:282px;}


/* ---------------------------------------
				catalogue
------------------------------------------ */
.produit {display: inline-block;vertical-align:top;}

.catalogue{
	position: relative;
	display: inline-block;
	width: 970px;
	margin: 0 auto;}

.catalogue h1.titre_produit {
	display: block;
	vertical-align: top;
	color:#000;
	font: normal 3.5em 'riesling';
	padding: 10px 0 20px 30px;}

.catalogue figure {
	position: relative;
	display: inline-block;
	vertical-align: top;
	margin:0;}

.catalogue figure img {
	border:1px solid white;
	padding:3px;
	margin: 10px;}

.catalogue nav {margin-left:15px;}

.catalogue nav figure:hover figcaption{
	color:#AA4673;
	text-decoration:underline;}

.catalogue figcaption {
	background-color:#fff;
	color:black;
	position: absolute;
	padding:0 10px 0 2px;
	left: 14px;
	bottom: 14px;}

.catalogue img {
	display: block;
	margin:10px 0;
	border:5px solid white;
	@include images;}

.catalogue img:hover{
	opacity: 0.8;
	-moz-opacity: 0.8;
	filter:alpha(opacity=8);}

.produit_metas {margin-left:10px;}
.produit_metas span.prix {font-size:1.2em; font-weight:bold;color:#AA4673;margin:10px 0 20px;display: inline-block;}
.produit_metas p{line-height:12px;text-align:center;}

#catalogue_accessoire {width:950px;margin-top:30px;border-top:1px dotted #c1c1c1;}

/* -- blocs catalogue -- */
.blocs h1 a{color:#000;}


/* -- Recapitulatif produits -- */
#filtre_produit {margin:20px 10px;}
#filtre_produit .input select{float:left;}

.toggle {
	display: inline-block;
	background:url('images/white-arrow.png') 1px -63px no-repeat;
	width:18px;
	height:18px;}

#show_filter .active_arrow {background-position:0 -15px;}

/* ---------------------------------------
				Fiche produits
------------------------------------------ */
.fiche h4{margin-left:0;}
.produit-gauche{ width:300px; float:left; padding:0;}
.produit-droit{ width:225px; float:left; padding-left:25px; }
.fiche .photos{ border:3px solid #DBE5E8; @include images;}
.fiche .prix{ display:block; float:none; color:#FF683A; font-weight:bold; font-size:2.6em; /*+text-shadow:1px 1px 2px #999;*/ -moz-text-shadow:1px 1px 2px #999; -webkit-text-shadow:1px 1px 2px #999; -o-text-shadow:1px 1px 2px #999; text-shadow:1px 1px 2px #999;}
.fiche .ancien-prix{ font-weight:bold; text-decoration:line-through; font-style:italic; margin:0px; padding:0px; font-size:1.1em;}
.fiche .description{ border-bottom:1px solid #D9D9D9; padding-bottom:11px; margin-bottom:7px; }
.fiche .description li{line-height:18px;}
.fiche .titre{font-size:1.2em;font-weight:bold;color:#AA4673;padding:15px 0 10px; text-decoration:underline;}
.fiche .promo{ border-bottom:1px solid #D9D9D9; padding:3px 0 20px; }
.fiche .miniatures,.fiche .miniatures li{ background:none; padding:0; margin:0;}
.fiche .miniatures li a{ float:left; border:2px solid #D9D9D9; height:69px; margin:10px 7px 0 0; @include images}
.fiche .miniatures li a:hover{ border-color:#AA4673; /*+opacity:80%;*/ filter:alpha(opacity=80); -ms-filter:progid:DXImageTransform.Microsoft.Alpha(Opacity=80); -moz-opacity:0.8; opacity:0.8; }
.fiche .tags a{text-decoration:underline;}
.produit-partage a{ text-decoration:none; }
.produit-partage a:hover{ opacity: 0.7;-moz-opacity: 0.7;filter:alpha(opacity=7); }


/* gallerie */
.gallerie{overflow:none;}
.gallerie h4{ line-height:18px; padding:20px 0 5px; margin:20px 0 12px;border-bottom:1px solid #D9D9D9;border-top:1px solid #D9D9D9;/*+text-shadow:1px 1px 2px #999;*/ -moz-text-shadow:1px 1px 2px #999; -webkit-text-shadow:1px 1px 2px #999; -o-text-shadow:1px 1px 2px #999; text-shadow:1px 1px 2px #999; }
.gallerie h4 a{ text-decoration:none; }
.gallerie a{ color:#444; }
.gallerie a:hover{ color:#AA4673; text-decoration:underline;}
.gallerie p{ padding:5px 0; }
.gallerie .blanc{ background:#FFF; margin:20px;}
.gallerie .blanc h4{ font:bold 2.1em 'riesling'; }


/* ---------------------------------------
				Partenariats
------------------------------------------ */
section#partenaires {color:#0F0F0F;margin:0 auto;width:970px;}
ul.ligne1, ul.ligne2 {margin:20px 0; display: inline-block;}
ul.ligne1 li, ul.ligne2 li{display: inline-block;vertical-align:top;width:310px;border-left:1px solid #E3E3E3;padding: 0 3px;text-align:center;}
ul.ligne1 li:first-child, ul.ligne2 li:first-child{border:0}
ul.ligne1 li ul li, ul.ligne2 li ul li{padding:0;margin:3px 0;border:none;}
ul.ligne1 li h3, ul.ligne2 li h3{margin-bottom:15px;font:bold 2.2em 'riesling'}
ul.ligne1 ul li.site_web, ul.ligne2 ul li.site_web {padding-top:15px;}
ul.ligne2 li#dernier{border-right:1px solid #E3E3E3;}
ul.ligne2 li#avant_dernier{border:none;}


/* ---------------------------------------
				Contact
------------------------------------------ */
#formContact {
	position:relative;
	display: inline-block;
	vertical-align:top;
	margin-left:30px ;
	padding:0;}

#formContact legend {
	font:normal 4em 'riesling';
	text-align:left;
	text-decoration:none;
	padding:40px 0 40px 30px;}

#formContact .mariee{
	visibility: hidden;
	position: absolute;}

form.formulaire {
	width:360px;
	display: inline-block;
	vertical-align:top;}

form input[type=text], form textarea {
	border:none;
	background: #fff;
	width:200px;
	height:28px;
	padding:0 10px;
	margin:5px 0 15px 0;
	color:#686464;
	font-size:1em;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px;
	-webkit-box-shadow: inset 0px 0px 10px 0px #222;
	-moz-box-shadow: inset 0px 0px 10px 0px #222;
	box-shadow: inset 0px 0px 10px 0px #222;}

form textarea {
	font-size:1.3em;
	width:330px;
	max-width:380px;
	max-height:260px;
	height: 150px;
	margin:0;
	padding-top:10px;}

fieldset {border:0 none;}
legend {display:hidden;}

.envoyer input {
	margin: 10px 0 0 230px;
	width: 120px;
	height: 35px;
	border:none;
	padding: 0;
	cursor: pointer;
	background: url('images/bouton_submit.png') top left no-repeat;}

.envoyer:hover{
	opacity: 0.8;
	-moz-opacity: 0.8;
	filter:alpha(opacity=8);}

/*adresse-sociaux*/
#reseauxSociaux {
	color:#878383;
	font-size:1.3em;
	margin-left:15px;}

#reseauxSociaux a{
	display: inline-block;
	vertical-align:top;
	margin:10px 40px 0 0;}

#reseauxSociaux a img{width:150px;}

#reseauxSociaux a:hover img{
	opacity: 0.8;
	-moz-opacity: 0.8;
	filter:alpha(opacity=8);}


/* -- planGoogle -- */

#plan_google {
	display: inline-block;
	vertical-align:top;
	width:500px;
	height:450px;
	margin:100px 0 0 40px;
	border:6px solid white;
	@include contenu;}


/* ---------------------------------------
				Guestbook
------------------------------------------ */
.mariee{visibility: hidden;}
.comment{border: 1px solid #999;width: 600px;margin: 0 auto;border-radius: 5px;margin-bottom: 5px;border:1px solid red;}
.comment .comment-title{background: #ccc;padding: 5px;border-bottom: 1px solid #999}
.comment .comment-title .action{float: right}
.comment .comment-content{padding: 5px}

#guestbook {border-top:1px solid #D9D9D9;padding-top:10px;}

#guestbook_form {
	padding:10px 20px;
	background-color: #fff;
	border:none;
	display: inline-block;
	width:400px;
	margin:20px 10px 30px 0;
	@include contenu;}

#guestbook_form label {
	display: inline-block;
	vertical-align:top;
	vertical-align:top;
	width:100px;}

#guestbook_form input[type=text] {width:180px;} 

#guestbook_form .submit {
	display: inline-block;
	margin:20px 0 0 20px;}

form .placeholder {margin-left:0;}
form .placeholder label {position: absolute;line-height:36px; margin-left:15px;}

#guestbook_image {display: inline-block;vertical-align:top;margin-top:100px;}
