html,body{margin:0;padding:0;}
h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,cite,code,del,dfn,em,img,q,s,samp,small,strike,strong,sub,sup,tt,var,dd,dl,dt,li,ol,ul,fieldset,form,label,legend,button,table,caption,tbody,tfoot,thead,tr,th,td{margin:0;padding:0;border:0;font-weight:normal;font-style:normal;font-size:100%;line-height:1;font-family:inherit;}

h1, h2, h3, h4, h5, h6 {
clear: both;
font-weight: normal;
}

.cake-sql-log{font-size: 15px}

a:hover {
	color: #ff4b33;
}

body, input, textarea {
color: #666;
font-size: 12px;
line-height: 18px;
}

body {
background: #F1F1F1;
}

#wrapper{background: white;
padding: 0 20px;margin: 0 auto;
width: 940px;margin-top: 20px;}

#site-title {
float: left;
font-size: 30px;
line-height: 36px;
margin: 0 0 18px 0;
width: 700px;
}

#site-title a {
color: black;
font-weight: bold;
text-decoration: none;
}

#site-description {
clear: right;
float: right;
font-style: italic;
margin: 15px 0 18px 0;
width: 220px;
}

#header-navigation {
background: black;
display: block;
float: left;
margin: 0 auto;
width: 940px;
}

div.menu {
font-size: 13px;
margin-left: 12px;
width: 928px;
}

div.menu ul {
list-style: none;
margin: 0;
}

div.menu li {
float: left;
position: relative;
}

#header-navigation a {
color: #AAA;
display: block;
line-height: 38px;
padding: 0 10px;
text-decoration: none;
}

#header-navigation li:hover > a{
	background: #333;
	color: #fff;
}

#main {
clear: both;
overflow: hidden;
padding: 40px 0 0 0;
}

#container {
margin: 0 -240px 0 0;
width: 100%;
}

#content{
color: #333;
font-size: 16px;
line-height: 24px;
margin: 0 20px 0 20px;
margin-bottom: 36px;
}

.hentry {
margin: 0 0 48px 0;
}

#content h1, #content h2, #content h3, #content h4, #content h5, #content h6 {
color: black;
line-height: 1.5em;
margin: 0 0 20px 0;
}

#content .entry-title {
color: black;
font-size: 21px;
font-weight: bold;
line-height: 1.3em;
margin-bottom: 0;
}

#content p, #content ul, #content ol, #content dd, #content pre, #content hr {
margin: 0 0 18px 1.5em;
margin-bottom: 24px;
}

#content ul{list-style: square;}
#content ul li{margin-left: 10px}

.entry-title a{text-decoration: none;color: #000}
.entry-title a:hover{color: #ff4b33;}
.entry-meta {
color: #888;
font-size: 12px;
}

.entry-content{
clear: both;
padding: 12px 0 0 0;
}

.entry-utility {
clear: both;
color: #888;
font-size: 12px;
line-height: 18px;
}

#footer {
margin-bottom: 20px;
clear: both;
width: 100%;
}

#colophon {
border-top: 4px solid black;
margin-top: -4px;
overflow: hidden;
padding: 18px 0;
}

#site-info {
float: left;
font-size: 14px;
font-weight: bold;
width: 700px;
}

#site-info a {
color: black;
text-decoration: none;
}

#site-generator {
font-style: italic;
position: relative;
float: right;
width: 220px;
}

#site-generator a {
background: url(images/wordpress.png) center left no-repeat;
color: #666;
display: inline-block;
line-height: 16px;
padding-left: 20px;
text-decoration: none;
}

